@import "base";

.half {
  padding: 0 $padding-base;
  @media #{$large-up} { @include grid-column(6); }
}

.menu {
  list-style-type: none;
  padding: 0;
}

.row {
  @include grid-row();
  &.content { position: relative; padding: 0 $padding-base; }
  &.nested { margin: 0 -#{$padding-base}; }
}

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.desktop {
  display: none !important;
}

@media #{$large-up} {
  .mobile { display: none !important; }
  .desktop { display: block !important; }
}

/* ==========================================================================
   Header
   ========================================================================== */

/* ==========================================================================
   Content
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */
.siteby {
  display: block;
  width: 110px;
  height: 20px;
  text-indent: -999px;
  background: url(../img/sby-mboy-linkback.png) no-repeat top center;
  overflow: hidden;
}

/* ==========================================================================
   Home Page
   ========================================================================== */



/* ==========================================================================
   Specific Page Template Styles
   ========================================================================== */

